<div class="jumbotron">
  <h1>Contact Us</h1>
  <p>We can be reached in several ways</p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="jumbotron">
      <h3>Email Us</h3>
      <p>Please feel free to email us at help@dealership.com</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h3>Call Us</h3>
      <p>Call our toll free help line at 1-888-GET-HELP</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h3>Stop By</h3>
      <p>Stop by your local branch located at:</p>
      <p>1234 Main Street</p>
      <p>Local Town, ST 10001</p>
    </div>
  </div>
</div>
