<div class="jumbotron">
    <h1>Auto Dealership</h1>
    <p>Welcome to our dealership! We offer only the finest new and used cars for your purchase.</p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>Great Deals!</h2>
      <p>We have great deals 24/7!</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>Friendly and Helpful Staff!</h2>
      <p>You can always contact one of our knowledgeable employees to help you pick out the perfect car!</p>
    </div>
  </div>
</div>
